<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level]-[%thread]-[%replace(%caller{1}){'\t|Caller.{1}0| at|\r\n', ''}] ==> %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 运行日志 -->
    <root level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </root>


</configuration>